* {
  padding: 0;
  margin: 0;
  font-family: Montserrat;
  color: white;
  border: none;
  box-sizing: border-box;
}

html {
  background-color: #000915;
}

a {
  text-decoration: none;
}

@media (max-width: 768px) {
  .desktop {
    display: none;
  }
}

.mobile {
  display: none;
}
@media (max-width: 768px) {
  .mobile {
    display: block;
  }
}

footer {
  height: 80px;
  border-top: 1px solid rgba(184, 212, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 1440px;
  padding: 0 120px;
  margin: auto;
  width: 100%;
}
@media (max-width: 768px) {
  .container {
    padding: 0 15px;
  }
}

h1 {
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 32px;
}

h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 59px;
  margin-bottom: 32px;
}

h5 {
  font-size: 24px;
  font-weight: 600;
}

p {
  font-size: 18px;
  line-height: 32px;
  font-weight: 300;
}

button {
  background-color: #9C0332;
  border-radius: 30px;
  min-width: 235px;
  font-size: 18px;
  transition: background-color 0.2s;
  padding: 13px;
  display: block;
}
button:hover {
  background-color: #871438;
  cursor: pointer;
}

.main {
  background: url("./img/mainBg.png") no-repeat center;
  background-size: cover;
  height: 1024px;
}
.main-content {
  padding-top: 220px;
}
.main-content-description {
  margin-bottom: 44px;
}

.games {
  padding: 120px 0;
}
.games-list {
  display: flex;
  gap: 32px;
}
.games-list-item {
  position: relative;
  width: 100%;
  border-radius: 16px;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 32px;
  display: flex;
  align-items: flex-end;
  aspect-ratio: 343/300;
}
.games-list-item::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%);
  bottom: 0;
  left: 0;
}
.games-list-item:hover {
  box-sizing: border-box;
  border: 3px solid rgb(68, 210, 255);
  border-radius: 16px;
}
.games-list-item-1 {
  background-image: url("./img/game1.jpeg");
}
.games-list-item-2 {
  background-image: url("./img/game2.jpeg");
}
.games-list-item-3 {
  background-image: url("./img/game3.jpeg");
}
.games-list-item-text {
  z-index: 1;
  text-decoration: none;
}

.seasons {
  display: flex;
  padding: 230px 0;
}
.seasons-content {
  display: flex;
  align-items: center;
}
.seasons-content-item {
  width: 100%;
}
.seasons-content-item-description {
  margin-bottom: 32px;
}
.seasons-content-item-image {
  justify-content: flex-end;
  display: flex;
}

.rememberWords {
  display: flex;
  padding: 230px 0;
}
.rememberWords-content {
  display: flex;
  align-items: center;
}
.rememberWords-content-item {
  width: 100%;
}
.rememberWords-content-item-description {
  margin-bottom: 32px;
}
.rememberWords-content-item-image {
  display: flex;
}

.riddleGame {
  background: url("./img/ridd.png") no-repeat center;
  background-size: cover;
  height: 800px;
  display: flex;
  align-items: center;
}
.riddleGame-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.riddleGame-content-description {
  margin-bottom: 32px;
}

@media (max-width: 768px) {
  h1,
  h2 {
    font-size: 32px;
    line-height: 39px;
    text-align: center;
  }
  p {
    font-size: 14px;
    line-height: 22px;
    text-align: center;
  }
  button {
    margin: auto;
  }
  .main {
    height: 735px;
    background-position: 30%;
  }
  .games-list {
    flex-direction: column;
  }
  .seasons {
    padding-top: 51px;
    padding-bottom: 85px;
  }
  .seasons-content {
    flex-direction: column;
    gap: 64px;
  }
  .seasons-content-item-image img {
    width: 100%;
  }
  .rememberWords {
    padding-top: 51px;
    padding-bottom: 85px;
  }
  .rememberWords-content {
    flex-direction: column-reverse;
    gap: 64px;
  }
  .rememberWords-content-item-image img {
    width: 100%;
  }
  .riddleGame {
    height: 700px;
  }
}/*# sourceMappingURL=style.css.map */